.red{
    color: red;
}

.green{
    color: green;
}

/* Specific style for iphone 14 */
@media screen and (max-device-width: 844px){

    .container_1 { 
        background: var(--quaternary-color);
        border: 5px solid var(--secondary-color); 
        border-radius: 10px;
        margin-top: 4em;
        margin-left: 1em;
        margin-bottom: 10em;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .input { 
        border-radius: 7px;
        background-color: var(--quaternary-color);
        margin: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.3em;
        width: 80%;
        height: 2em;
        border: black 1px solid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }

    .button { 
        border-radius: 10px;
        background-color: var(--secondary-color);
        margin: 1em auto 3em auto;
        padding: auto;
        width: 45%;
        height: 3em;
        color: #111212;
        border: black 1px solid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button:hover{
        opacity: 70%;
    }

    label {
        margin-left: 2.2em;
        margin-bottom: 0.8em;
        padding-top: 1.5em;
        font-weight: bold;
    }

    .registration_link {
        margin-top: 1em;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    /* alert banner error password on registration */
    .alert-banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: auto;
        background-color: #f8d7da;
        color: #721c24;
        padding: 3em;
        text-align: center;
        border-bottom: 2px solid #f5c6cb;
        z-index: 1000;
    } 
}


/* Specific style for ipad */
@media screen and (min-width: 845px) and (max-width: 1919px) {
   
    .container_1 { 
        background: var(--quaternary-color);
        border: 8px solid var(--secondary-color); 
        border-radius: 10px;
        margin: 4em auto 4em auto;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .input { 
        border-radius: 7px;
        background-color: var(--quaternary-color);
        margin: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.3em;
        width: 60%;
        height: 2em;
        border: black 1px solid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }

    .button{ 
        border-radius: 10px;
        background-color: var(--secondary-color);
        margin: 1em auto 3em auto;
        padding: auto;
        width: 35%;
        height: 3em;
        color: #111212;
        border: black 1px solid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button:hover{
        opacity: 70%;
    }

    label {
        margin-left: 10em;
        margin-bottom: 0.8em;
        padding-top: 1.5em;
        font-weight: bold;
    }

    .list{
        margin-left: 10em;
    }

    .registration_link {
        margin-top: 1em;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    /* alert banner error password on registration */
    .alert-banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f8d7da;
        color: #721c24;
        padding: 3em;
        text-align: center;
        border-bottom: 2px solid #f5c6cb;
        z-index: 1000;
    } 

}

/* Specific style for desktop */
@media screen and (min-width: 1920px) {
   
    .container_1 { 
        background: var(--quaternary-color);
        border: 12px solid var(--secondary-color); 
        border-radius: 10px;
        margin: 4em auto 4em auto;
        padding-top: 1em;
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .input { 
        border-radius: 7px;
        background-color: var(--quaternary-color);
        margin: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.3em;
        width: 60%;
        height: 2em;
        border: black 1px solid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
    }

    .button { 
        border-radius: 10px;
        background-color: var(--secondary-color);
        margin: 1em auto 3em auto;
        padding: auto;
        width: 35%;
        height: 3em;
        border: black 1px solid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button:hover{
        opacity: 70%;
    }

    label {
        margin-left: 10em;
        margin-bottom: 0.8em;
        padding-top: 1.5em;
        font-weight: bold;
    }

    .list{
        margin-left: 10em;
    }

    .registration_link {
        margin-top: 1em;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    /* alert banner error password on registration */
    .alert-banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f8d7da;
        color: #721c24;
        padding: 3em;
        text-align: center;
        border-bottom: 2px solid #f5c6cb;
        z-index: 1000;
    } 

}