/* Specific style for iphone 14 */
@media screen and (max-device-width: 844px){

    .container_1 { 
        background: var(--quaternary-color);
        border: 5px solid var(--secondary-color); 
        word-wrap: break-word;
        overflow-wrap: break-word; 
        border-radius: 10px;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: auto;
        padding: 0.5em;
    }
}


/* Specific style for ipad */
@media screen and (min-width: 845px) and (max-width: 1919px) {
   
    .container_1 { 
        background: var(--quaternary-color);
        border: 8px solid var(--secondary-color); 
        word-wrap: break-word;
        overflow-wrap: break-word; 
        border-radius: 10px;
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        padding: 4em;
    }

}

/* Specific style for desktop */
@media screen and (min-width: 1920px) {
   
    .container_1 { 
        background: var(--quaternary-color);
        border: 12px solid var(--secondary-color); 
        border-radius: 10px;
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: auto;
        padding: 4em;
    }
}