<div class="footer_tablet_desktop">
    <div class="footer_flex">
        <a href="/index.php" class="footer_flex">
            <img src="../pics/logo-Cedres_black.png" class="logo" alt="Le logo de la clinique vétérinaire les cèdres représenté par un chat et un chien ce tenant assis l'un à côté de l'autre de couleur blanc devant un sapin de couleur fushia">   
        </a>
        <h3 class="footer_flex_2">@Copyright 2024, Tous droits réservés.</h3>
        <div class="footer_flex_2">
            <h3 class="margin-footer">Mentions légales :</h3>
            <a href="/view/cgf.php">Conditions générale de fonctionnement</a>
            <a href="/view/mentions_legales.php">Mentions légales</a>
            <a href="/view/politique_cookies.php">Politique de cookies</a>
        </div>
    </div>
</div>

<div class="footer_mobile">
    <div class="footer_flex" >
        <div class="footer_flex_mobile">
            <a href="/index.php" class="footer_flex" >
                <img src="../pics/logo-Cedres_black.png" class="logo" alt="Le logo de la clinique vétérinaire les cèdres représenté par un chat et un chien ce tenant assis l'un à côté de l'autre de couleur blanc devant un sapin de couleur fushia">   
            </a>
            <h3 class="footer_flex_2">@Copyright 2024, Tous droits réservés.</h3>
        </div>
        <div class="footer_flex_2">
            <h3>Mentions légales :</h3>
            <a href="/view/cgf.php">Conditions générale de fonctionnement</a>
            <a href="/view/mentions_legales.php">Mentions légales</a>
            <a href="/view/politique_cookies.php">Politique de cookies</a>
        </div>
    </div>
</div>


